.contact {
    position: absolute;
    top: 48px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contact__link {
    text-decoration: none;
    font-size: 26px;
    padding-bottom: 0;
    margin-bottom: 4px;
    display: block;
}

.contact__shedule {
   font-size: 13px; 
   text-decoration: underline;
   color: #D3A557;
}