.menu__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #D3A557;
}

.menu {
    top: 65px;
    left: 250px;
    position: absolute;
}

.menu__link--active {
    color: #D3A557;
}
